@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);


body {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 18px;
	font-weight: 300;
	/*background-image: url(../img/background.jpg);
	background-attachment: fixed;*/
}

:visited {
	text-decoration: none;
	color: #0000AA;
}